@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */
.display-flex {
  display: flex;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.primary-bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 25px 21px 24px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  /* margin-bottom: 20px; */
  border: none;
}

/* navbar styles */

.navbar {

  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-weight: bold;
  font-size: 2.8 rem;
}

.nav-links {

  font-weight: 500;
  font-size: 18px;

}

.nav-item {

  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style  */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-span {
  display: inline-block;
}

.banner-image {
  width: 100%;
}

/* Our Features styles */
.feature-container {
  max-width: 1318px;
  align-items: center;
  /* border: 2px solid gold; */
  margin: 85px auto 0;

}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-content {
  margin-left: 73px;
  max-width: 537px;
}

.quick-list {
  font-size: 2.81rem;
  font-weight: 500;

}

.our-title {
  font-size: 2.81rem;
  font-weight: bold;

}

.our-feature {
  font-size: 2.81rem;
  font-weight: bold;
  color: #FF900E;
}

/* Responsive  */

@media screen and (max-width:576px) {

  .navbar,
  .nav-links,
  .feature-container {
    flex-direction: column;
  }

  .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-content {
    margin-left: 10px;
  }
}