@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */
.display-flex {
  display: flex;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.font-size {
  font-size: 2.8rem;
  font-weight: bold;
}

.primary-bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 25px 21px 24px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  /* margin-bottom: 20px; */
  border: none;
}

/* navbar styles */

.navbar {

  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-weight: bold;
  font-size: 2.8 rem;
}

.nav-links {

  font-weight: 500;
  font-size: 18px;

}

.nav-item {

  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style  */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-span {
  display: inline-block;
}

.banner-image {
  width: 100%;
}

/* Our Features styles */
.feature-container {
  max-width: 1318px;
  align-items: center;
  /* border: 2px solid gold; */
  margin: 85px auto 0;

}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-content {
  margin-left: 73px;
  max-width: 537px;
}

.quick-list {
  font-size: 2.81rem;
  font-weight: 500;

}

.our-title {
  font-size: 2.81rem;
  font-weight: bold;

}

.our-feature {
  font-size: 2.81rem;
  font-weight: bold;
  color: #FF900E;
}

/* feature love and enjoy style  */
.feature-love {
  /* margin-top: 130px; */
  gap: 165px;
  max-width: 1459px;
  justify-content: center;
  margin: 130px auto;
  /* overflow: auto; */
}

.feature-love-title {
  margin-bottom: 0px;
}

#feature-love-border {
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}

.feature-love-card {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.feature-love-card .feature-love-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-love-architect img {
  width: 100%;
}

.experience-button {
  padding: 42px 46px;
  background-color: #FF900E;
  border-radius: 8px;
  margin-left: -107px;
  margin-top: -119px;
}

#work-time {
  font-size: 4.06rem;
  font-weight: 700;
}

#work-experience {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Some facts Style  */
.fact {
  max-width: 1380px;
  margin: 0 auto;
}

.fact-container {
  max-width: 542px;
  /* margin: 0 auto; */
  /* justify-items: baseline; */
}

.fact-title {
  margin-bottom: 5px;
}

.fact-subtitle {
  max-width: 541px;
  margin-bottom: 70px;
  margin-top: 20px;
}

.card-container {
  display: grid;

  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 124.17px;
  /* max-width: 1380px; */
  /* margin: 0 auto; */

}

.fact-card {
  border: 2px solid #FF900E;
  width: 241.83px;
  height: 241.83px;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin-top: 5px;
}

/* sponsor style  */
.sponsor-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-title {
  margin-bottom: 5px;
}

.sponsor-icon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1440px;
  margin: 50px auto;
  justify-items: center;
}

.sponsor-icon img {
  filter: grayscale(100%);
}

/* Footer style  */
footer {
  max-width: 1440px;
  background-color: #FFF4E7;
  margin: 130px auto 216px;
  padding: 38px;
}

footer p {
  text-align: center;
}

/* Responsive  */

@media screen and (max-width:576px) {

  .navbar,
  .nav-links,
  .feature-container,
  .feature-love {
    flex-direction: column;
  }

  .feature-img,
  .card-container,
  .sponsor-icon {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-content {
    margin-left: 20px;
  }

  .card-container {
    justify-items: center;
    gap: 24px;
  }

  .experience-button {
    margin-top: 20px;
    margin-left: 10px;
  }

  .sponsor-icon {
    justify-items: center;
    gap: 50px;
  }
}

/* Responsive Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {

  .feature-container,
  .feature-love {
    flex-direction: column;
  }

  .feature-img {

    grid-template-columns: repeat(2, 1fr);
  }

  .feature-content {
    margin: 50px auto;
  }

  .experience-button {
    margin-top: 20px;
    margin-left: 10px;
  }

  .sponsor-icon,
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;

  }

}